@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@500&display=swap');

div#title {
    background-color: #890620;
    text-align: center;
    text-transform: uppercase;
    font-family: "Noto Serif Georgian", serif;
}

body {
    background-color: #f9f3f0;
}
