---
---

body {
    background-color: #f9f3f0;
}

h1 {
    text-align: center;
    color: #2c0703;
}

h3::before {
    content: "~\20";
}

h3::after {
    content: "\20~";
}

a {
    text-decoration: none;
    color: #672836;
}

.title::before {
    content: "\ab\20";
}

.title::after {
    content: "\20\bb";
}
