---
---

@import url("https://latex.now.sh/style.min.css");

a {
    text-decoration: none;
}

#title::before::after {
    content: "";
}

h1::before {
    content: "\ab\20";
}

h1::after {
    content: "\20\bb";
}
